---
title: Arden Zhan
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <link rel="icon" href="#">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
  </head>

  <body>

    {{ content | safe }}

    <footer>
        <hr>
        <p><small>arden@pm.me</small></p>
        <p><small><a target="_blank" href="https://github.com/ardenzhan/">GitHub</a></small></p>
    </footer>
  </body>
</html>
